@model EHealthCare.Models.AdminViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<style>
    .newaccount {
        font-size: 15px;
        font-weight: 400;
        color: #999;
    }

    .regist {
        text-decoration: none;
        color: #94af65;
        font-weight: bold;
    }

    .text-danger {
        color: #f44336;
        font-size: 15px;
    }

    .mt-5 {
        margin-top: 5px
    }
</style>
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            $("#text-error").show(function () {
                $(this).remove();
            });
        }, 3000);
    });

</script>

@using (Html.BeginForm("UserLogin", "Login", FormMethod.Post, new { @id = "signupForm" }))
{
    @Html.HiddenFor(m => m.User.UserID)
    <h2>Sign In Your Account</h2>
    <p>
        <label for="Email" class="floatLabel">User Name</label>
        @Html.TextBoxFor(x => x.User.UserName, new { autocomplete = "off", placeholder = "User Name" })
    </p>

    <p>
        <label for="password" class="floatLabel">Password</label>
        @Html.TextBoxFor(x => x.UserPassword, new { type = "password",placeholder="Password" })<br />
        @Html.ValidationMessage("CustomError", new { @class = "text-danger mt-5", id = "text-error" })
    </p>
    <p>
        <input type="submit" value="Login Account" id="submit">
    </p>
    <p class="newaccount">Don't Have an Account <a class="regist" href="@Url.Action("Registration","Login")">Sign Up</a></p>
}

